@import url('https://fonts.googleapis.com/css2?family=Playwrite+IT+Moderna:wght@100..400&display=swap');

body {
    padding: 3vw;
    background: radial-gradient(circle, rgba(255, 0, 164, 1) 0%, rgba(10, 0, 6, 1) 100%);
    color: #fff;
    font-family: "Playwrite IT Moderna", serif;
}

.container {
    width: 90%;
    margin: auto;
    max-width: 1200px;
    display: flex; 
    flex-wrap: wrap;
}

.left-panel {
    width: 30%; /* Fixed smaller width for the left section */
    margin-right: 2%; /* Space between the left and right sections */
}

.right-panel {
    width: 68%; /* Larger width for the right section */
}

.cardprofile, 
.cardcontact, 
.cardcurrent-project,
.projects {
    background-color: #000000; /* Rosa vibrante */
    color:rgb(255, 152, 219);
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 15px; /* Margem embaixo de cada card */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

    & img{
        width: 10vw;
        border-radius: 20px;
    }

}

.projects {
    background-color: #1f0010; 
    overflow-y: auto;
    height: 385px;
    max-height: 385px;
}

.project {
    margin-top: 10px;
}

.profile img {
    width: 100%;
    border-radius: 10px;
}

.contact, .current-project, .project {
    font-size: 14px;
}

a {
    color: #ffd0e7;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

.cardproject{
    background-color: #ff32a6;
    padding: 0.2vw;
    margin: 15px;
    border-radius: 20px;
    color: #000;

}

@media screen {
        width: 90%;
        display: block; 
  
}